@page "/"
@inject ISystemService systemService

<div style="text-align:center;margin-top:50px;">
    <p>@systemService.GetDescription()</p>
    <p><a href="/api">API 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</div>
